html {
  font-family: $font-family;
  .v-application {
    [class*="text-"] {
      font-family: $font-family, sans-serif !important;
    }

    font-size: 15px;
    font-family: $font-family, sans-serif !important;
  }
}
